/* Layout hierarchy */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Mukta';
}

.info-section h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 2.5em;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25em;
}

#header button {

    border: none;
    background-color: inherit;
    font-family: inherit;
    padding: 0 2.0em;
    height: 5vh;

}

#title button {

    /* Layout */
    padding: 20px;
    width: 30%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    /* Styles */
    border: none;
    border-radius: 10px;
    outline: none;
    transition-duration: 0.2s;
    font-size: x-large;
    background-color: #16AB84;
    font-family: 'Mukta';
    color: white;

}

button:hover {
    background-color: #27c298;
    font-weight: bold;
}

.content {
    margin-top: 80px;
}

#header {

    /* Layout */
    position: sticky;
    top: 0;
    left: 0;

    /* Styles */
    background-color: #16AB84;
    width: 100%;
    height: 5vh;

}

#header a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 4px;
    transition-duration: 0.2s;
}

.header a:hover {
    color: #ededed;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    width: 50%;
    color: white;
    text-align: center;
}

#title h1 {
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
}

.logoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.text {
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.info-section {
    padding: 3% 0%;
    width: 100%;
    color: #111;
    background-color: #ffffff;
    box-sizing: border-box;
}

#courses {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.course-card {
    width: 27% !important;
    margin: auto;
    box-shadow: 0px 3px 7px rgb(90, 90, 90);
    background-color: #ffffff;
    padding: 2% 0;
    border-radius: 10px;
}

.course-card img {
    display: block;
    border: 5px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
}

.course-card ol {
    font-size: 1.0em;
    font-family: "Mukta";
    margin: 0;
    margin-inline: 3%;
    float: left;
    color: rgb(0, 0, 0);
}

.course-card p {
    color: rgb(0, 0, 0);
    text-align: left;
    margin-inline: 6%;
    text-align: left;
    font-family: 'Mukta';
    font-size: 1.1em;
    font-weight: 200;
}

.course-card h1 {
    width: 100% !important;
    padding-block: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
    font-weight: 20;
    font-size: 2.65em;
}

.course-card h2 {
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 6%;
    font-family: 'Mukta';
    font-size: 1.3em;
    font-weight: 600;
}

#member-cards-container {
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: stretch;
}

.member-card  {

    /* Layout */
    margin: 1.0em;
    padding: 1.5em;
    max-width: 25.0em;

    /* Styling */
    border-radius: 5px;
    background-color: #ffffff;
    color: #222222;

}

.member-card p {
    font-size: 12pt;
}

.member-card h1 {
    font-size: 2em;
    text-align: left;
}

.member-card h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.member-card img {
    border: 5px solid white;
    border-radius: 50%;
    width: 144px;
    height: 144px;
    cursor: pointer;
}

a.anchor {
    position: relative;
    top: -100px;
    visibility: hidden;
}


.tagline-card {

    /* Layout */
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;

    /* Styling */
    background-color: rgb(255, 255, 255);
    font-size: 0.9em;

}

.tagline-card h1 {
    font-size: 2em;
}

#taglines {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}

hr {
    width: 90%;
    border: 2px solid #ebebeb;
    background-color: #ebebeb;
}

#meet-the-team-section {
    color: #ffffff;
}

.member-card-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.member-card-info div:last-child {
    padding-left: 1.0em;
    flex-basis: 100%;
}